
.details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.content{
    width: 70%;
    text-align: left;
    padding: 2px;
    box-sizing: border-box;
}
.image{
    width: 30%;
    text-align: right;
    padding: 10px;
cursor: pointer;
text-align: center;
align-items:center ;
justify-content: center;
}

@media screen and (max-width: 550px) {
    .details{
        flex-direction: column;
    }
    .content{
        width: 100%;
        text-align:center;
    }
    .image{
        margin:  0 auto;
        width: 50%;

    }
}
        