.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@font-face {
  font-family: "Light";   /*Can be any text*/
  src: local("Caraque_Trial_RgMelted"),
    url("./fonts/Caraque_Trial_RgMelted.ttf") format("truetype");
}
@font-face {
  font-family: "Def";   /*Can be any text*/
  src: local("Cute_Aurora_demo"),
    url("./fonts/Cute_Aurora_demo.ttf") format("truetype");
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
